<h2>Edit</h2>


<h4><%= @division.name %></h4>

<ul>
  <% @division.employees.each do |emp| %>
    <li><%= emp.name %></li>
  <% end %>
</ul>

<form action="/divisions/<%= @division.id %>" method="post">
  <div class="from-group selector">
    <input type="hidden" name="_method" value="patch">

    <input type="text" name="name" class='form-control'>
    <select name="employee" class='test'>
      <option>employees</option>
      <% Employee.all.each do |emp| %>
        <option value='<%= emp.id %>' ><%= emp.name %></option>
      <% end %>
    </select>
  </div>



  <button name="submit" type="submit">Submit</button>

</form>
<br>

<form  action='/divisions/<%= @division.id %>' method="post">
  <input type="hidden" name="_method" value="delete">
  <button type='submit'>Delete</button>
</form>
